bochsout.txt
inittmp.gdb
commands.gdb

# normal build system output
disk0.img
disk0.vmdk
*.[oad]
*.pyc
*.gdbcomm
*.so

.staging
# editor temporary files
\#*\#
*~
.*.swp
*.tmp
*.bak
*.orig
*.nfs*

# vagrant file
.vagrant

# puppet file folder
manifests/

# mac file
.DS_Store
/doc/.DS_Store

# vim backup directory
.vimbackup
